@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@600;700&family=Roboto&display=swap');

body {
    font      : normal 16px Roboto, sans-serif;
    background: #232323;
    color     : rgb(219, 219, 219);
}

.zagolovok {
    font-size: 20px;
}

a {
    color          : rgb(219, 219, 219);
    text-decoration: none;
}

a:hover {
    color          : #c96030;
    text-decoration: underline;
}

.head {
    color: #ff5100;
}

.card {
    border-left               : 5px solid #c96030;
    background                : #2c2c2c;
    padding-left              : 10px;
    border-top-right-radius   : 12px;
    border-bottom-right-radius: 12px;
    margin-top                : 2px;
    padding-left              : 10px;
}

.container {
    max-width: 1100px;
    min-width: 200px;
    margin   : auto;
}

.text {
    padding-top   : 10px;
    padding-bottom: 10px;
    display       : inline-block;
}

.stick {
    color: gray;
}

.btm {
    background           : gray;
    padding              : 8px 12px;
    border               : none;
    border-radius        : 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius   : 1px;
    -ms-border-radius    : 1px;
    -o-border-radius     : 1px;
    font-family          : inherit;
    margin-top           : 5px;
}

.btm:hover {
    background        : lightgrey;
    transition        : all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition   : all 0.4s;
    -ms-transition    : all 0.4s;
    -o-transition     : all 0.4s;
}

.btm:active {
    box-shadow        : 4px 4px 10px rgba(0, 0, 0, 0.8);
    transition        : all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition   : all 0.2s;
    -ms-transition    : all 0.2s;
    -o-transition     : all 0.2s;
}

/* .checkbox:checked body {
    background: wheat;
} */

.table th,
td {
    margin : 0;
    padding: 0;
    padding: 5px;
}

.table th {
    background-color: #212121;
}

.table td:nth-child(1) {
    background-color: #212121;
}

.navbar {
    background-color: #2c2c2c;
    margin-bottom   : 10px;
    border-right    : 5px solid #c96030;
    border-left     : 5px solid #c96030;
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    z-index         : 9999;
}

.navbar ul {
    padding   : 0;
    margin    : 0;
    display   : flex;
    list-style: none;
}

.navbar ul li {
    padding: 20px;
}

.navbar ul li:hover {
    background-color  : #232323;
    transition        : all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition   : all 0.2s;
    -ms-transition    : all 0.2s;
    -o-transition     : all 0.2s;
}

.navbar ul li:active {
    background-color: #2c2c2c;
}

html {
    scroll-behavior: smooth;
}

#text,
#email {
    display              : block;
    background           : #414141;
    border               : none;
    box-sizing           : border-box;
    width                : 400px;
    height               : 30px;
    padding-left         : 10px;
    border-radius        : 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius   : 10px;
    -ms-border-radius    : 10px;
    -o-border-radius     : 10px;
    margin-top           : 5px;
}

#text {
    margin-right: 30px;
}

.labeltextform,
.labelemailform {
    padding       : 7px;
    padding-bottom: 10px;
}

#email {
    display: block;
}

.mail {
    display: inline-block;
}

#svyz {
    text-align: center
}

#mаssage {
    background           : #414141;
    border               : none;
    box-sizing           : border-box;
    width                : 830px;
    height               : 100px;
    padding-left         : 10px;
    border-radius        : 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius   : 10px;
    -ms-border-radius    : 10px;
    -o-border-radius     : 10px;
    margin-top           : 5px;
    resize               : vertical;
}

::-webkit-input-placeholder {
    font-family: Roboto, sans-serif;
}

::-moz-placeholder {
    font-family: Roboto, sans-serif;
}

:-ms-input-placeholder {
    font-family: Roboto, sans-serif;
}

:-moz-placeholder {
    font-family: Roboto, sans-serif;
}

::placeholder {
    font-family: Roboto, sans-serif;
}



.avatar {
    box-shadow           : 6px 6px 21px rgba(0, 0, 0, 0.6);
    border-radius        : 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius   : 30px;
    -ms-border-radius    : 30px;
    -o-border-radius     : 30px;
    display              : block;
}

.info {
    display    : inline;
    margin-left: 20px;
}

.name {
    color      : #c96030;
    display    : block;
    margin-left: 20px;
}

.information {
    display   : flex;
    margin-top: 70px;
}

.picture {
    display: inline;
}

.one {
    display: block;
}

.links {
    display: block;
}

.typeyourtext {
    display     : block;
    padding-left: 10px;
}

@media (max-width: 655px) {
    .information {
        display: block;
    }
}

@media (max-width: 880px) {
    #massage {
        width : 400px;
        height: 100px;
    }
}